# OpenAI
OPENAI_API_KEY=

# Google Gemini
GEMINI_API_KEY=

# OpenDart (금융감독원)
OPENDART_API_KEY=4b0e2d658d522005de8b96d54f4b7a362de2520a

# Naver Search API
NAVER_CLIENT_ID=_vgPd_TwC65zZDtEKuHP
NAVER_CLIENT_SECRET=nklWVBY2x0

# Supabase
SUPABASE_URL=https://kibqomzrcwzspllwmupj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpYnFvbXpyY3d6c3BsbHdtdXBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzOTU4NjcsImV4cCI6MjA4ODk3MTg2N30.CQSLM6YMxLx53fq9JVdWXyy2vvvs3qUKJZDI5xF5564
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpYnFvbXpyY3d6c3BsbHdtdXBqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM5NTg2NywiZXhwIjoyMDg4OTcxODY3fQ.DGJDEH6FoibC4ou0x-1kEsFQjuZRYKGrUNE8EfWzmck

# Redis
REDIS_URL=redis://localhost:6379/0

# App
APP_ENV=development
CORS_ORIGINS=http://localhost:3000
